USE [master]
GO
/****** Object:  Database [AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR]    Script Date: 13/07/2021 18:50:22 ******/
CREATE DATABASE [AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AFILIADOS_CARLOS_ELIEZEL_SANTOS_AYBAR]
GO
/****** Object:  Table [dbo].[AFILIADOS]    Script Date: 13/07/2021 18:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFILIADOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](200) NOT NULL,
	[Apellidos] [varchar](200) NOT NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Sexo] [char](1) NULL,
	[Cedula] [varchar](14) NULL,
	[Numero_Seguridad_Social] [varchar](14) NULL,
	[Fecha_Registro] [date] NULL,
	[Monto_Consumido] [decimal](18, 0) NULL,
	[Id_Estatus] [int] NULL,
	[Id_plan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTATUS]    Script Date: 13/07/2021 18:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTATUS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estatus] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANES]    Script Date: 13/07/2021 18:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Plan] [varchar](50) NULL,
	[Monto_Cobertura] [decimal](18, 0) NULL,
	[Fecha_Registro] [date] NULL,
	[Estatus] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AFILIADOS] ON 

INSERT [dbo].[AFILIADOS] ([Id], [Nombres], [Apellidos], [Fecha_Nacimiento], [Sexo], [Cedula], [Numero_Seguridad_Social], [Fecha_Registro], [Monto_Consumido], [Id_Estatus], [Id_plan]) VALUES (1, N'Federico', N'Santos Aybar', CAST(N'2018-01-01' AS Date), N'm', N'4023525161', N'512512525', CAST(N'2021-07-13' AS Date), CAST(800 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[AFILIADOS] ([Id], [Nombres], [Apellidos], [Fecha_Nacimiento], [Sexo], [Cedula], [Numero_Seguridad_Social], [Fecha_Registro], [Monto_Consumido], [Id_Estatus], [Id_plan]) VALUES (2, N'Maria', N'Santana', CAST(N'2021-07-03' AS Date), N'm', N'40234512512', N'5551256612', CAST(N'2021-07-13' AS Date), CAST(81 AS Decimal(18, 0)), 2, 1)
INSERT [dbo].[AFILIADOS] ([Id], [Nombres], [Apellidos], [Fecha_Nacimiento], [Sexo], [Cedula], [Numero_Seguridad_Social], [Fecha_Registro], [Monto_Consumido], [Id_Estatus], [Id_plan]) VALUES (3, N'Pedro', N'Garcia', CAST(N'2020-02-05' AS Date), N'm', N'40234512512', N'5125551251', CAST(N'2021-07-13' AS Date), CAST(0 AS Decimal(18, 0)), 1, 1)
SET IDENTITY_INSERT [dbo].[AFILIADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTATUS] ON 

INSERT [dbo].[ESTATUS] ([Id], [Estatus]) VALUES (1, N'Activo')
INSERT [dbo].[ESTATUS] ([Id], [Estatus]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[ESTATUS] OFF
GO
SET IDENTITY_INSERT [dbo].[PLANES] ON 

INSERT [dbo].[PLANES] ([Id], [Nombre_Plan], [Monto_Cobertura], [Fecha_Registro], [Estatus]) VALUES (1, N'ARS_Max', CAST(30000 AS Decimal(18, 0)), CAST(N'2021-07-13' AS Date), N'Activo')
INSERT [dbo].[PLANES] ([Id], [Nombre_Plan], [Monto_Cobertura], [Fecha_Registro], [Estatus]) VALUES (2, N'ARS_Normal', CAST(10000 AS Decimal(18, 0)), CAST(N'2021-07-13' AS Date), N'Activo')
SET IDENTITY_INSERT [dbo].[PLANES] OFF
GO
ALTER TABLE [dbo].[AFILIADOS]  WITH CHECK ADD FOREIGN KEY([Id_Estatus])
REFERENCES [dbo].[ESTATUS] ([Id])
GO
ALTER TABLE [dbo].[AFILIADOS]  WITH CHECK ADD FOREIGN KEY([Id_plan])
REFERENCES [dbo].[PLANES] ([Id])
GO
USE [master]
GO
